
.navbar {
  background-color: rgba(0, 0, 0, 0.659); 
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  animation: slideInDown 0.5s ease;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.company-name {
  font-size: 1.5rem;
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-left: 20px;
}

.nav-button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.logout-profile {
  display: flex;
  align-items: center;
}


.logout {
  /* margin-bottom: 20px; */
  margin-left: auto; /* Adjusted to align "Login" button to the right */
  cursor: pointer;
  color: green;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background: none;
  transition: all 0.3s ease;
  text-decoration: none;
}

.logout:hover {
  background-color: rgba(249, 237, 0, 0.1);
  color: #ffffff;
}


.profile {
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background: none;
  transition: all 0.3s ease;
}

.profile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

