/* Lander.css */
.homeout {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://a.storyblok.com/f/64062/1400x583/8c96d7dc6b/storyblok-graphic-background-images-crimson-education-dark.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.homein {
  width: 100%;
}

.homehead {
  text-align: center;
  color: #fff;
  padding: 0 20px; /* Adjust as needed */
}

.homehead h1 {
  font-size: 3rem;
}

.homehead p {
  font-size: 1.5rem;
}

.btn-group {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #e36d1f;
  color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #bd6088;
}


.btn.bigger {
  flex: 1 0 40%; 
  max-width: 300px; 
}

@media (max-width: 768px) {
  .btn.bigger {
    flex: 1 0 80%; /* Adjust as needed for smaller screens */
    max-width: none;
  }
}
