.admin-form-container {
  max-width: 500px;
  margin: auto; /* Center align horizontally */
  margin-top: 50px; /* Add top margin for vertical center alignment */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.admin-form-container h2 {
  text-align: center; /* Center align heading */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
